.container{
	display:grid;
	grid-template-columns:repeat(10,auto);
	grid-template-rows:repeat(20,auto);
	gap: 3px;
}
.square{
	width:20px;
	height:20px;
	background-color:rgb(29, 29, 29);
	transition: background-color 1s ease;
}
.square:hover {
    background-color: lightblue;
}